In [1]:
import pandas as pd
import numpy as np

# 주유소 데이터 가공

In [74]:
jy=pd.read_csv('data_project/주유소 좌표 정리 소수점 3자리.csv').drop('Unnamed: 0',axis=1)

In [77]:
jy['주소_2']=jy['주소'].str.split(' ')

In [114]:
jy['주소_3']=jy['주소'].str.replace(' ','')

In [130]:
jy['주소_3'].str[11:14]

0      성산읍
1      일주동
2      안덕면
3      대정읍
4      일주동
      ...
190    리로9
191    북로2
192    문로1
193    좌읍조
194    형로1
Name: 주소_3, Length: 195, dtype: object

In [131]:
addr_lst=[]

for addr in jy['주소_3']:
    if addr[7:10]=='제주시':
        if addr[10:13][-1] in ['읍','면']:
            addr_lst.append('제주특별자치도 제주시 '+addr[10:13])
        else:
            addr_lst.append('제주특별자치도 제주시')
    else:
        if addr[11:14][-1] in ['읍','면']:
            addr_lst.append('제주특별자치도 서귀포시 '+addr[11:14])
        else:
            addr_lst.append('제주특별자치도 서귀포시')

In [132]:
pd.Series(addr_lst).unique()

array(['제주특별자치도 서귀포시 성산읍', '제주특별자치도 서귀포시', '제주특별자치도 서귀포시 안덕면',
       '제주특별자치도 서귀포시 대정읍', '제주특별자치도 서귀포시 표선면', '제주특별자치도 서귀포시 남원읍',
       '제주특별자치도 제주시', '제주특별자치도 제주시 한경면', '제주특별자치도 제주시 애월읍',
       '제주특별자치도 제주시 우도면', '제주특별자치도 제주시 구좌읍', '제주특별자치도 제주시 한림읍',
       '제주특별자치도 제주시 조천읍', '제주특별자치도 제주시 추자면'], dtype=object)

In [135]:
jy['주소_4']=addr_lst

In [137]:
jy_final = jy.drop(['주소','주소_3'],axis=1)

In [139]:
jy_final.head(1)

           상호      위도       경도              주소_4
0  성산일출봉농협주유소  33.425  126.907  제주특별자치도 서귀포시 성산읍

In [140]:
jy_final.to_csv('data_project/final_data/jooyou.csv',index=False)

# 우도,추자면 데이터 추가

In [13]:
new_jj=pd.read_excel('2021년 지방도 교통량 조사 결과(제주시).xlsx',header=7)

In [17]:
new_jj=new_jj.loc[:13]

In [30]:
new_jj=new_jj[new_jj.columns[2:8]]

In [33]:
new_jj=new_jj.rename(columns={'Unnamed: 2':'읍면동'})

In [36]:
new_jj=new_jj.loc[6:7]

In [40]:
new_jj=new_jj.drop('지점수',axis=1)
new_jj.rename(columns={'읍면동':'지역(읍,면,동)','증감':'전년대비 증감대수','증감율':'전년대비 증감율(%)'},inplace=True)

In [41]:
new_jj

  지역(읍,면,동) 2020교통량 2021교통량  전년대비 증감대수 전년대비 증감율(%)
6       추자면     452     399      -53.0   -0.117257
7       우도면    2803    2622     -181.0   -0.064574

In [52]:
new_jj['전년대비 증감율(%)']=new_jj['전년대비 증감율(%)']*100

In [54]:
final_1=pd.read_csv('./data_project/final_data/traffic_final.csv').loc[:5]

In [55]:
final_1=pd.concat([final_1, new_jj])

In [56]:
final_2=pd.read_csv('./data_project/final_data/traffic_final.csv').loc[6:]

In [58]:
traffic=pd.concat([final_1,final_2])

In [59]:
traffic.to_csv('real_final_traffic.csv',index=None)

# 최종 데이터셋 생성

In [61]:
final_1=pd.read_csv('data_project/final_data/final.csv')
final_1.head(1)

C:\Users\ggyo0\AppData\Local\Temp\ipykernel_1136\127229384.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  final_1=pd.read_csv('data_project/final_data/final.csv')

,경도_Lng-위도_Lat,경도_Lng,위도_Lat,행정구역,statNm,kind,kindDetail,parkingFree,limitYn,limitDetail,useTime,침수우려여부,관광지명,분류,합산 검색 수,내국인 관광객수,외국인 관광객수
0,126.356_33.347,126.356,33.347,제주특별자치도 제주시 한림읍,그리스박물관,D0,D008,Y,N,NaN,24시간 이용가능,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
cctv=pd.read_csv('data_project/final_data/cctv_final.csv')
car=pd.read_csv('data_project/final_data/eleccar.csv')
human=pd.read_csv('data_project/final_data/human.csv')
jijin=pd.read_csv('data_project/final_data/jijin.csv')
# pd.read_csv('data_project/final_data/traffic_final.csv')
# pd.read_csv('data_project/final_data/jooyou.csv')

## 지진 데이터 프레임 수정

### 경도-위도 컬럼 추가

In [175]:
jijin['경도_Lng-위도_Lat']=['126.400_33.470','126.250_33.290']

### 지진 발생 유무 컬럼 추가

In [147]:
jijin['지진 발생']=['T','T']

## cctv 데이터프레임 수정

### cctv 유무 컬럼 추가

In [153]:
cctv['cctv 유무'] ='T'

In [177]:
cctv.head(1)

  지역(읍,면,동)      위도       경도 cctv 유무   경도_Lng-위도_Lat
0       제주시  33.503  126.529       T  126.529_33.503

### cctv 경도-위도 컬럼 추가

In [167]:
cctv['위도']=cctv['위도'].astype(str)
cctv['경도']=cctv['경도'].astype(str)

In [168]:
cctv['경도_Lng-위도_Lat']=cctv['경도']+'_'+cctv['위도']

In [170]:
cctv.head(1)

  지역(읍,면,동)      위도       경도 cctv 유무   경도_Lng-위도_Lat
0       제주시  33.503  126.529       T  126.529_33.503

### cctv 지역(읍,면,동) 컬럼 수정

In [208]:
cctv.rename(columns={'지역(읍,면,동)':'행정구역_1'},inplace=True)

In [352]:
lst=['제주시','애월읍','한림읍','한경면','조천읍','구좌읍']

for i in range(len(cctv['행정구역_1'])):
    if (cctv['행정구역_1'][i] in lst) and cctv['행정구역_1'][i]!='제주시':
        cctv.at[i,'행정구역_1']='제주특별자치도 제주시 '+cctv.at[i,'행정구역_1']
    elif (cctv['행정구역_1'][i] in lst) and cctv['행정구역_1'][i]=='제주시':
        cctv.at[i,'행정구역_1']='제주특별자치도 '+cctv.at[i,'행정구역_1']
    elif (cctv['행정구역_1'][i] in lst) and cctv['행정구역_1'][i]=='서귀포시':
        cctv.at[i,'행정구역_1']='제주특별자치도 '+cctv.at[i,'행정구역_1']
    else:
        cctv.at[i,'행정구역_1']='제주특별자치도 서귀포시 '+cctv.at[i,'행정구역_1']

In [413]:
ind_lst=cctv[cctv['행정구역_1']=='제주특별자치도 서귀포시 서귀포시'].index

In [414]:
for ind in ind_lst:
    cctv.at[ind,'행정구역_1']='제주특별자치도 서귀포시'

## car 데이터프레임 수정

In [156]:
car.drop(['2020전기차','2020전기차비율','2021전기차증감율'],axis=1,inplace=True)

In [158]:
car.head(1)

           읍면동  2021전기차  2022전기차  2021전기차비율  2022전기차비율  2122전기차증감율
0  제주특별자치도 제주시  14432.0  18463.0       3.02       3.63       27.93

## human 데이터프레임 수정

In [162]:
human.drop(['2020인구','2020경제활동인구','2021인구증감율','2021경제활동인구증감율'],axis=1,inplace=True)
human.head(1)

,행정구역,2021인구,2022인구,2021경제활동인구,2022경제활동인구,2122인구증감율,2122경제활동인구증감율
0,제주특별자치도 제주시,380948.0,380973.0,222656.0,235734.0,0.01,5.87

## 주유소 데이터프레임 경도-위도 컬럼 추가

In [185]:
jy_final['위도']=jy_final['위도'].astype(str)
jy_final['경도']=jy_final['경도'].astype(str)

In [186]:
jy_final['경도_Lng-위도_Lat']=jy_final['경도']+'_'+jy_final['위도']

In [187]:
jy_final.head(1)

           상호      위도       경도              주소_4   경도_Lng-위도_Lat
0  성산일출봉농협주유소  33.425  126.907  제주특별자치도 서귀포시 성산읍  126.907_33.425

## 교통량 데이터프레임 수정

In [315]:
traffic=pd.read_csv('data_project/final_data/real_final_traffic.csv')

In [316]:
traffic

   지역(읍,면,동)  2020교통량  2021교통량  전년대비 증감대수  전년대비 증감율(%)
0        제주시   276496   290637    14141.0     5.110000
1        애월읍   169933   174918     4985.0     2.930000
2        구좌읍   109056   110878     1822.0     1.670000
3        한림읍    67346    71122     3776.0     5.610000
4        조천읍    67258    71713     4455.0     6.620000
5        한경면    21348    19227    -2121.0    -9.940000
6        추자면      452      399      -53.0   -11.725664
7        우도면     2803     2622     -181.0    -6.457367
8       서귀포시   159874   179050    19176.0    11.990000
9        안덕면    76913    89242    12329.0    16.030000
10       남원읍    45389    43299    -2090.0    -4.600000
11       대정읍    25725    31909     6184.0    24.040000
12       성산읍    22491    20629    -1862.0    -8.280000
13       표선면    18399    20325     1926.0    10.470000

In [319]:
traffic.rename(columns={'지역(읍,면,동)':'행정구역'},inplace=True)

In [321]:
tr_1=traffic.iloc[:7]
tr_2=traffic.iloc[8:]

In [322]:
for i in range(len(tr_1)):
    if i==0:
        tr_1.at[i,'행정구역']='제주특별자치도 '+tr_1.at[i,'행정구역']
    else:
        tr_1.at[i,'행정구역']='제주특별자치도 제주시 '+tr_1.at[i,'행정구역']

In [326]:
tr_2=tr_2.reset_index().drop('index',axis=1)

In [328]:
for i in range(len(tr_2)):
    if i==0:
        tr_2.at[i,'행정구역']='제주특별자치도 '+tr_2.at[i,'행정구역']
    else:
        tr_2.at[i,'행정구역']='제주특별자치도 서귀포시 '+tr_2.at[i,'행정구역']

In [331]:
traffic=pd.concat([tr_1,tr_2]).reset_index().drop('index',axis=1)

# merge

In [211]:
cctv.shape,car.shape,human.shape,jijin.shape,traffic.shape,jy_final.shape

((498, 5), (14, 6), (14, 7), (2, 4), (14, 5), (195, 5))

In [354]:
display(cctv.head(1),car.head(1),human.head(1),jijin.head(1),traffic.head(1),jy_final.head(1))

        행정구역_1      위도       경도 cctv 유무   경도_Lng-위도_Lat
0  제주특별자치도 제주시  33.503  126.529       T  126.529_33.503

           읍면동  2021전기차  2022전기차  2021전기차비율  2022전기차비율  2122전기차증감율
0  제주특별자치도 제주시  14432.0  18463.0       3.02       3.63       27.93

,행정구역,2021인구,2022인구,2021경제활동인구,2022경제활동인구,2122인구증감율,2122경제활동인구증감율
0,제주특별자치도 제주시,380948.0,380973.0,222656.0,235734.0,0.01,5.87

      위도     경도 지진 발생   경도_Lng-위도_Lat
0  33.47  126.4     T  126.400_33.470

          행정구역  2020교통량  2021교통량  전년대비 증감대수  전년대비 증감율(%)
0  제주특별자치도 제주시   276496   290637    14141.0         5.11

           상호      위도       경도              주소_4   경도_Lng-위도_Lat
0  성산일출봉농협주유소  33.425  126.907  제주특별자치도 서귀포시 성산읍  126.907_33.425

In [201]:
print(final_1.shape)
display(final_1.head(1))

(97674, 17)

,경도_Lng-위도_Lat,경도_Lng,위도_Lat,행정구역,statNm,kind,kindDetail,parkingFree,limitYn,limitDetail,useTime,침수우려여부,관광지명,분류,합산 검색 수,내국인 관광객수,외국인 관광객수
0,126.356_33.347,126.356,33.347,제주특별자치도 제주시 한림읍,그리스박물관,D0,D008,Y,N,NaN,24시간 이용가능,NaN,NaN,NaN,NaN,NaN,NaN

In [234]:
m1=pd.merge(final_1, jijin, how='outer')

In [248]:
m1.drop(['위도','경도'],axis=1,inplace=True)

In [250]:
m2=pd.merge(m1,jy_final,how='outer')

In [255]:
ind_lst=m2[np.logical_and(m2['행정구역'].isna(),m2['주소_4'].notna())].index

In [258]:
for ind in ind_lst:
    m2.at[ind,'행정구역']=m2.at[ind,'주소_4']

In [261]:
ind_lst=m2[np.logical_and(m2['경도_Lng'].isna(),m2['경도'].notna())].index

In [262]:
for ind in ind_lst:
    m2.at[ind,'경도_Lng']=m2.at[ind,'경도']
    m2.at[ind,'위도_Lat']=m2.at[ind,'위도']

In [264]:
m2.drop(['위도','경도','주소_4'],axis=1,inplace=True)

In [267]:
m2=m2.rename(columns={'상호':'주유소명'})

In [268]:
m2.shape

(97757, 19)

In [415]:
m3=pd.merge(m2,cctv,how='outer')

In [416]:
ind_lst=m3[m3['cctv 유무'].isna()].index

In [417]:
for ind in ind_lst:
    m3.at[ind,'cctv 유무']='F'

In [418]:
ind_lst=m3[np.logical_and(m3['경도_Lng'].isna(),m3['경도'].notna())].index

In [419]:
for ind in ind_lst:
    m3.at[ind,'경도_Lng']=m3.at[ind,'경도']
    m3.at[ind,'위도_Lat']=m3.at[ind,'위도']

In [420]:
m3.drop(['위도','경도'],axis=1,inplace=True)

In [421]:
ind_lst=m3[np.logical_and(m3['행정구역'].isna(),m3['행정구역_1'].notna())].index

In [422]:
for ind in ind_lst:
    m3.at[ind,'행정구역']=m3.at[ind,'행정구역_1']
    m3.at[ind,'행정구역']=m3.at[ind,'행정구역_1']

In [423]:
m3.drop('행정구역_1', axis=1,inplace=True)

In [424]:
# traffic, human, car
m4=pd.merge(m3, traffic, how='left', left_on='행정구역', right_on='행정구역')

In [425]:
m5=pd.merge(m4, human, how='left')

In [426]:
m6=pd.merge(m5,car,how='left', left_on='행정구역', right_on='읍면동')

In [427]:
m6.drop('읍면동',axis=1,inplace=True)

In [432]:
m6.columns

Index(['경도_Lng-위도_Lat', '경도_Lng', '위도_Lat', '행정구역', 'statNm', '침수우려여부', '관광지명',
       '분류', '합산 검색 수', '내국인 관광객수', '외국인 관광객수', '지진 발생', '주유소명', 'cctv 유무',
       '2020교통량', '2021교통량', '전년대비 증감대수', '전년대비 증감율(%)', '2021인구', '2022인구',
       '2021경제활동인구', '2022경제활동인구', '2122인구증감율', '2122경제활동인구증감율', '2021전기차',
       '2022전기차', '2021전기차비율', '2022전기차비율', '2122전기차증감율'],
      dtype='object')

In [431]:
m6.drop(m6.columns[5:11],axis=1,inplace=True)

In [433]:
m6.drop(['주유소명','관광지명'],axis=1,inplace=True)

In [443]:
from tqdm import tqdm

naindex=m6[m6['침수우려여부'].isna()].index

In [444]:
for ind in tqdm(naindex):
    m6.at[ind,'침수우려여부']='F'

100%|██████████| 97848/97848 [00:11<00:00, 8295.77it/s]

In [445]:
naindex=m6[m6['지진 발생'].isna()].index

In [446]:
for ind in tqdm(naindex):
    m6.at[ind,'지진 발생']='F'

100%|██████████| 97943/97943 [00:10<00:00, 9139.40it/s]

In [451]:
m6.to_csv('final_of_final.csv',index=False)

In [456]:
m6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97945 entries, 0 to 97944
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   경도_Lng-위도_Lat  97945 non-null  object
 1   경도_Lng         97945 non-null  object
 2   위도_Lat         97945 non-null  object
 3   행정구역           97904 non-null  object
 4   statNm         950 non-null    object
 5   침수우려여부         97945 non-null  object
 6   분류             110 non-null    object
 7   합산 검색 수        77 non-null     float64
 8   내국인 관광객수       51 non-null     float64
 9   외국인 관광객수       51 non-null     float64
 10  지진 발생          97945 non-null  object
 11  cctv 유무        97945 non-null  object
 12  2020교통량        97532 non-null  float64
 13  2021교통량        97532 non-null  float64
 14  전년대비 증감대수      97532 non-null  float64
 15  전년대비 증감율(%)    97532 non-null  float64
 16  2021인구         97904 non-null  float64
 17  2022인구         97904 non-null  float64
 18  2021경제활동인구     97904 non-null  float64
 19  2022경제활동인구     97904 non-null  float64
 20  2122인구증감율      97904 non-null  float64
 21  2122경제활동인구증감율  97904 non-null  float64
 22  2021전기차        97904 non-null  float64
 23  2022전기차        97904 non-null  float64
 24  2021전기차비율      97904 non-null  float64
 25  2022전기차비율      97904 non-null  float64
 26  2122전기차증감율     97904 non-null  float64
dtypes: float64(18), object(9)
memory usage: 20.2+ MB

In [457]:
m6.describe(include='all')

,경도_Lng-위도_Lat,경도_Lng,위도_Lat,행정구역,statNm,침수우려여부,분류,합산 검색 수,내국인 관광객수,외국인 관광객수,...,2022인구,2021경제활동인구,2022경제활동인구,2122인구증감율,2122경제활동인구증감율,2021전기차,2022전기차,2021전기차비율,2022전기차비율,2122전기차증감율
count,97945,97945.000,97945.000,97904,950,97945,110,77.000000,51.000000,51.000000,...,97904.000000,97904.000000,97904.00000,97904.000000,97904.000000,97904.000000,97904.000000,97904.000000,97904.000000,97904.000000
unique,97945,1022.000,612.000,14,935,2,23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,126.356_33.347,126.519,33.336,제주특별자치도 서귀포시,교래자연휴양림,F,자연경관(하천/해양),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,269.000,695.000,22132,2,97848,18,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77583.103896,23237.477124,2175.584967,...,106663.193823,62589.699542,66389.02288,0.387792,6.061723,3973.123039,5048.461544,5.580007,6.860180,26.010999
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98361.678120,29730.025109,5382.724376,...,137229.853671,80063.781940,84763.83135,0.876787,0.861306,5201.400791,6660.545318,1.317383,1.667258,2.250365
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26489.000000,0.000000,0.000000,...,1572.000000,1038.000000,1074.00000,-2.120000,3.470000,67.000000,84.000000,3.020000,3.630000,22.460000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36179.000000,0.000000,0.000000,...,15453.000000,9662.000000,10165.00000,-0.030000,5.510000,622.000000,793.000000,5.430000,6.540000,24.540000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51560.000000,10507.083333,29.750000,...,25727.000000,15218.000000,16252.00000,0.190000,5.950000,986.000000,1273.000000,6.160000,7.590000,25.370000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79809.000000,39317.916667,1608.250000,...,103636.000000,60745.000000,64856.00000,0.990000,6.770000,3626.000000,4516.000000,6.310000,7.700000,27.930000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,803524.000000,108279.333333,34046.750000,...,380973.000000,222656.000000,235734.00000,2.400000,7.740000,14432.000000,18463.000000,8.170000,9.870000,30.130000